<!--fotter-->
<footer>
    <div class="copyright">
      <p>&copy 2021 - GETIT</p>
    </div>
    <div class="social">
      <p class="support">Contact Us: </p>
      <p  class="support">Call / WhatsApp: <a href="tel:0643216072"> 0643216072</a> OR <a href="tel:+27619618183">+27619618183</a></p>
      <p class="support">Follow US:  <a href="https://twitter.com/TheDonSpovii"><i class="fa fa-twitter" aria-hidden="true"></i></a> 
      <a href="https://www.instagram.com/nqobi.thespoviss/"><i class="fa fa-instagram social-icons" aria-hidden="true"></i></a>
      <a href="https://www.linkedin.com/in/manqoba-ngubeni-1a4b911b4/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></p>
    </div>
  </footer>